.header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 1em;
}

.container-body {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 20px;
  padding: 5px;
}

.pizza-stage {
  background-color: #f0f0f0;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.main-section {
  background-color: #f0f0f0;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.order-form {
  background-color: #e0e0e0;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .container-body {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
}
